<div>
    <div class="deznav-scroll">
        <ul class="metismenu m-1" id="menu">
            <!-- Dashboard Home  -->
            <li class="my-2">
                <a href="dashboard.html" class="" aria-expanded="false">
                    <div class="menu-icon">
                        <img class="me-2" src="./images/vector/house.svg" alt="">
                    </div>	
                    <span class="nav-text">Home</span>
                </a>
            </li>
            <!-- Region  -->
            <li class="my-2">
                <a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
                    <div class="menu-icon">
                        <img class="me-2" src="./images/vector/Storefront.svg" alt="">
                    </div>	
                    <span class="nav-text">Region</span>
                </a>
                <ul aria-expanded="false">
                    
                    <li><a href="./addregion.html">Add Region</a></li>
                    <li><a href="./viewregion.html">View Region</a></li>
                </ul>
            </li>
            <li class="my-2">
                <a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
                    <div class="menu-icon">
                        <img class="me-2" src="./images/vector/Storefront.svg" alt="">
                    </div>	
                    <span class="nav-text">Administrators</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="./viewadmins.html">Admin</a></li>
                    <li><a href="./cropcategory.html">Category</a></li>
                    <li><a href="./setup.html">Setup</a></li>
                    <li><a href="./activitylog.html">Activity Log</a></li>
                    <li><a href="./errorlog.html">Error Log</a></li>
                </ul>
            </li>
            <!-- Marketplace  -->
            <li class="my-2">
                <a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
                    <div class="menu-icon">
                        <img class="me-2" src="./images/vector/Storefront.svg" alt="">
                    </div>	
                    <span class="nav-text">Marketplace</span>
                </a>
                <ul aria-expanded="false">
                    
                    <li><a href="./crop-wanted.html">Crops Wanted</a></li>
                    <!-- <li><a href="./buy-inputs.html">Buy Inputs</a></li> -->
                    <li><a href="./products.html">Crops For Sale</a></li>
                    <!-- <li><a href="./sales.html">My Sales</a></li> -->
                    <!-- <li><a href="./order.html">My Orders</a></li> -->
                </ul>
            </li>
            <!-- Market Report  -->
            <li class="my-2">
                <a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
                    <div class="menu-icon">
                        <img class="me-2" src="./images/vector/marketPlace.svg" alt="">
                    </div>	
                    <span class="nav-text">Market Report</span>
                </a>
                <ul aria-expanded="false">
                    
                    <li><a href="#">Price Offers</a></li>
                    <li><a href="#">Benchmark</a></li></ul>
            </li>
            <!-- Access  -->
            <li class="my-2">
                <a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
                    <div class="menu-icon">
                        <img class="me-2" src="./images/vector/marketPlace.svg" alt="">
                    </div>	
                    <span class="nav-text">Access</span>
                </a>
                <ul aria-expanded="false">
                    <!-- Merchant DVS  -->
                    <li>
                        <a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
                            <span class="nav-text">Merchant DVS</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="mdvssummary.html">DVS Summary</a></li>
                            <li><a href="mdvscategory.html">Categories</a></li>
                            <li><a href="mdvsquestion.html">Question</a></li>
                            <li><a href="mdvsresult.html">DVS Form</a></li>
                        </ul>
                    </li>
                    <!-- Farmer DVS  -->
                    <li>
                        <a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
                            <span class="nav-text">Farmers DVS</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="#">DVS Summary</a></li>
                            <li><a href="#">Categories</a></li>
                            <li><a href="#">Question</a></li>
                            <li><a href="#">DVS Form</a></li>
                        </ul>
                    </li>
                    <!-- PDS  -->
                    <li><a href="#">PDS</a></li></ul>
            </li>
            <!-- Negotiation  -->
            <li class="my-2">
                <a href="task.html" class="" aria-expanded="false">
                    <div class="menu-icon">
                        <img class="me-2" src="./images/vector/ChatText.svg" alt="">
                    </div>	
                    <span class="nav-text">Negotiation</span>
                </a>
            </li>
            <!-- My Accounts   -->
            <li class="my-2">
                <a href="task.html" class="" aria-expanded="false">
                    <div class="menu-icon">
                        <img class="me-2" src="./images/vector/Wallet.svg" alt="">
                    </div>	
                    <span class="nav-text">My Accounts</span>
                </a>
            </li>
            <!-- Comming Soon  -->
            <li class="my-2">
                <a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
                    <div class="menu-icon">
                        <img class="me-2" src="./images/vector/Data.svg" alt="">
                    </div>	
                    <span class="nav-text">Coming Soon</span>
                </a>
                <ul aria-expanded="false">
                    
                    <li><a href="#">Precision Ag</a></li>
                    <li><a href="#">Sutainable Ag</a></li>
                    <li><a href="#">Traceabilty Ag</a></li>
                    <li><a href="#">Subscription</a></li>
                    <li><a href="#">API</a></li></ul>
            </li>
            <!-- Settings  -->
            <li class="my-2">
                <a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
                    <div class="menu-icon">
                        <img class="me-2" src="./images/vector/GearSixBold.svg" alt="">
                    </div>	
                    <span class="nav-text">Settings</span>
                </a>
                <ul aria-expanded="false">
                    
                    <li>
                        <a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
                            <span>My Team Members</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="#">View All Team Members</a></li>
                            <li><a href="#">Add New Team Members</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Profile Settings</a></li>
                </ul>
            </li>
            <!-- Log out  -->
            <li class="my-2">
                <a href="task.html" class="" aria-expanded="false">
                    <div class="menu-icon">
                        <img class="me-2" src="./images/vector/SignOut.svg" alt="">
                    </div>	
                    <span class="nav-text">Logout</span>
                </a>
            </li>
        </ul>
    </div>
</div>